/**
 * Normalize
 *
 * Normalizing styles have been helped along thanks to the fine work of
 * Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: black; }

body {
  margin: 0;
  padding-top: 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: white; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  max-width: 100%; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

code,
kbd,
pre,
samp {
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

select {
  text-transform: none; }

button {
  overflow: visible; }

button,
input,
select,
textarea {
  max-width: 100%; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default;
  opacity: .5; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0.4375em;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #d1d1d1;
  margin: 0 0 1.75em;
  padding: 0.875em; }

fieldset > :last-child {
  margin-bottom: 0; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

optgroup {
  font-weight: bold; }

code,
kbd,
tt,
var,
samp,
pre {
  font-family: Inconsolata, monospace; }

pre {
  border: 1px solid #d1d1d1;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.3125;
  margin: 0 0 1.75em;
  max-width: 100%;
  overflow: auto;
  padding: 1.75em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

code {
  background-color: #d1d1d1;
  padding: 0.125em 0.25em; }

abbr,
acronym {
  border-bottom: 1px dotted #d1d1d1;
  cursor: help; }

mark,
ins {
  background: #007acc;
  color: #fff;
  padding: 0.125em 0.25em;
  text-decoration: none; }

big {
  font-size: 125%; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*! Reflex v1.5.0 - https://github.com/leejordan/reflex */
/*
 *
 * Reflex is a flexbox grid which provides a way to take advantage of emerging
 * flexbox support while providing a fall back to inline-block on older browsers
 *
 * To disable legacy support and build a flexbox only grid, set the variable legacy-support to false
 *
 * Built by Lee Jordan G.C.S.E.
 * email: ldjordan@gmail.com
 * github: https://github.com/leejordan
 *
 * Structure and calculations are inspired by twitter bootstrap
 *
 */
.grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  max-width: 100%;
  list-style-type: none; }
  .grid:before, .grid:after {
    max-width: 100%; }
  .grid .grid {
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto; }
  .grid * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .grid *:before,
  .grid *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

[class*="grid__col-"] {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 100%;
  vertical-align: top;
  padding: 1em 1em; }

.grid__cell {
  position: relative;
  display: block;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto; }

:-ms-fullscreen .grid__cell, :root .grid__cell {
  width: 100%; }

.grid__col-12 {
  width: 100%;
  *width: 99.9%; }

.grid__col-11 {
  width: 91.66667%;
  *width: 91.56667%; }

.grid__col-10 {
  width: 83.33333%;
  *width: 83.23333%; }

.grid__col-9 {
  width: 75%;
  *width: 74.9%; }

.grid__col-8 {
  width: 66.66667%;
  *width: 66.56667%; }

.grid__col-7 {
  width: 58.33333%;
  *width: 58.23333%; }

.grid__col-6 {
  width: 50%;
  *width: 49.9%; }

.grid__col-5 {
  width: 41.66667%;
  *width: 41.56667%; }

.grid__col-4 {
  width: 33.33333%;
  *width: 33.23333%; }

.grid__col-3 {
  width: 25%;
  *width: 24.9%; }

.grid__col-2 {
  width: 16.66667%;
  *width: 16.56667%; }

.grid__col-1 {
  width: 8.33333%;
  *width: 8.23333%; }

@media (min-width: 480px) {
  .grid__col-xs-12 {
    width: 100%;
    *width: 99.9%; }

  .grid__col-xs-11 {
    width: 91.66667%;
    *width: 91.56667%; }

  .grid__col-xs-10 {
    width: 83.33333%;
    *width: 83.23333%; }

  .grid__col-xs-9 {
    width: 75%;
    *width: 74.9%; }

  .grid__col-xs-8 {
    width: 66.66667%;
    *width: 66.56667%; }

  .grid__col-xs-7 {
    width: 58.33333%;
    *width: 58.23333%; }

  .grid__col-xs-6 {
    width: 50%;
    *width: 49.9%; }

  .grid__col-xs-5 {
    width: 41.66667%;
    *width: 41.56667%; }

  .grid__col-xs-4 {
    width: 33.33333%;
    *width: 33.23333%; }

  .grid__col-xs-3 {
    width: 25%;
    *width: 24.9%; }

  .grid__col-xs-2 {
    width: 16.66667%;
    *width: 16.56667%; }

  .grid__col-xs-1 {
    width: 8.33333%;
    *width: 8.23333%; } }
@media (min-width: 768px) {
  .grid__col-sm-12 {
    width: 100%;
    *width: 99.9%; }

  .grid__col-sm-11 {
    width: 91.66667%;
    *width: 91.56667%; }

  .grid__col-sm-10 {
    width: 83.33333%;
    *width: 83.23333%; }

  .grid__col-sm-9 {
    width: 75%;
    *width: 74.9%; }

  .grid__col-sm-8 {
    width: 66.66667%;
    *width: 66.56667%; }

  .grid__col-sm-7 {
    width: 58.33333%;
    *width: 58.23333%; }

  .grid__col-sm-6 {
    width: 50%;
    *width: 49.9%; }

  .grid__col-sm-5 {
    width: 41.66667%;
    *width: 41.56667%; }

  .grid__col-sm-4 {
    width: 33.33333%;
    *width: 33.23333%; }

  .grid__col-sm-3 {
    width: 25%;
    *width: 24.9%; }

  .grid__col-sm-2 {
    width: 16.66667%;
    *width: 16.56667%; }

  .grid__col-sm-1 {
    width: 8.33333%;
    *width: 8.23333%; } }
@media (min-width: 992px) {
  .grid__col-md-12 {
    width: 100%;
    *width: 99.9%; }

  .grid__col-md-11 {
    width: 91.66667%;
    *width: 91.56667%; }

  .grid__col-md-10 {
    width: 83.33333%;
    *width: 83.23333%; }

  .grid__col-md-9 {
    width: 75%;
    *width: 74.9%; }

  .grid__col-md-8 {
    width: 66.66667%;
    *width: 66.56667%; }

  .grid__col-md-7 {
    width: 58.33333%;
    *width: 58.23333%; }

  .grid__col-md-6 {
    width: 50%;
    *width: 49.9%; }

  .grid__col-md-5 {
    width: 41.66667%;
    *width: 41.56667%; }

  .grid__col-md-4 {
    width: 33.33333%;
    *width: 33.23333%; }

  .grid__col-md-3 {
    width: 25%;
    *width: 24.9%; }

  .grid__col-md-2 {
    width: 16.66667%;
    *width: 16.56667%; }

  .grid__col-md-1 {
    width: 8.33333%;
    *width: 8.23333%; } }
@media (min-width: 1200px) {
  .grid__col-lg-12 {
    width: 100%;
    *width: 99.9%; }

  .grid__col-lg-11 {
    width: 91.66667%;
    *width: 91.56667%; }

  .grid__col-lg-10 {
    width: 83.33333%;
    *width: 83.23333%; }

  .grid__col-lg-9 {
    width: 75%;
    *width: 74.9%; }

  .grid__col-lg-8 {
    width: 66.66667%;
    *width: 66.56667%; }

  .grid__col-lg-7 {
    width: 58.33333%;
    *width: 58.23333%; }

  .grid__col-lg-6 {
    width: 50%;
    *width: 49.9%; }

  .grid__col-lg-5 {
    width: 41.66667%;
    *width: 41.56667%; }

  .grid__col-lg-4 {
    width: 33.33333%;
    *width: 33.23333%; }

  .grid__col-lg-3 {
    width: 25%;
    *width: 24.9%; }

  .grid__col-lg-2 {
    width: 16.66667%;
    *width: 16.56667%; }

  .grid__col-lg-1 {
    width: 8.33333%;
    *width: 8.23333%; } }
@media (min-width: 1600px) {
  .grid__col-xlg-12 {
    width: 100%;
    *width: 99.9%; }

  .grid__col-xlg-11 {
    width: 91.66667%;
    *width: 91.56667%; }

  .grid__col-xlg-10 {
    width: 83.33333%;
    *width: 83.23333%; }

  .grid__col-xlg-9 {
    width: 75%;
    *width: 74.9%; }

  .grid__col-xlg-8 {
    width: 66.66667%;
    *width: 66.56667%; }

  .grid__col-xlg-7 {
    width: 58.33333%;
    *width: 58.23333%; }

  .grid__col-xlg-6 {
    width: 50%;
    *width: 49.9%; }

  .grid__col-xlg-5 {
    width: 41.66667%;
    *width: 41.56667%; }

  .grid__col-xlg-4 {
    width: 33.33333%;
    *width: 33.23333%; }

  .grid__col-xlg-3 {
    width: 25%;
    *width: 24.9%; }

  .grid__col-xlg-2 {
    width: 16.66667%;
    *width: 16.56667%; }

  .grid__col-xlg-1 {
    width: 8.33333%;
    *width: 8.23333%; } }
.grid__col-auto {
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 0px;
  flex: 1 0 0px; }

@media (min-width: 480px) {
  .grid__col-xs-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px; } }
@media (min-width: 768px) {
  .grid__col-sm-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px; } }
@media (min-width: 992px) {
  .grid__col-md-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px; } }
@media (min-width: 1200px) {
  .grid__col-lg-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px; } }
@media (min-width: 1600px) {
  .grid__col-xlg-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px; } }
.grid--order-12 {
  -ms-flex-order: 12;
  -webkit-order: 12;
  order: 12; }

.grid--order-11 {
  -ms-flex-order: 11;
  -webkit-order: 11;
  order: 11; }

.grid--order-10 {
  -ms-flex-order: 10;
  -webkit-order: 10;
  order: 10; }

.grid--order-9 {
  -ms-flex-order: 9;
  -webkit-order: 9;
  order: 9; }

.grid--order-8 {
  -ms-flex-order: 8;
  -webkit-order: 8;
  order: 8; }

.grid--order-7 {
  -ms-flex-order: 7;
  -webkit-order: 7;
  order: 7; }

.grid--order-6 {
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6; }

.grid--order-5 {
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5; }

.grid--order-4 {
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4; }

.grid--order-3 {
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3; }

.grid--order-2 {
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2; }

.grid--order-1 {
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1; }

.grid--order-0 {
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0; }

@media only screen and (min-width: 480px) {
  .grid--order-12-xs {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12; }

  .grid--order-11-xs {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11; }

  .grid--order-10-xs {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10; }

  .grid--order-9-xs {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9; }

  .grid--order-8-xs {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8; }

  .grid--order-7-xs {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7; }

  .grid--order-6-xs {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6; }

  .grid--order-5-xs {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5; }

  .grid--order-4-xs {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4; }

  .grid--order-3-xs {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3; }

  .grid--order-2-xs {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }

  .grid--order-1-xs {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }

  .grid--order-0-xs {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0; } }
@media only screen and (min-width: 768px) {
  .grid--order-12-sm {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12; }

  .grid--order-11-sm {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11; }

  .grid--order-10-sm {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10; }

  .grid--order-9-sm {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9; }

  .grid--order-8-sm {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8; }

  .grid--order-7-sm {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7; }

  .grid--order-6-sm {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6; }

  .grid--order-5-sm {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5; }

  .grid--order-4-sm {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4; }

  .grid--order-3-sm {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3; }

  .grid--order-2-sm {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }

  .grid--order-1-sm {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }

  .grid--order-0-sm {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0; } }
@media only screen and (min-width: 992px) {
  .grid--order-12-md {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12; }

  .grid--order-11-md {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11; }

  .grid--order-10-md {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10; }

  .grid--order-9-md {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9; }

  .grid--order-8-md {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8; }

  .grid--order-7-md {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7; }

  .grid--order-6-md {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6; }

  .grid--order-5-md {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5; }

  .grid--order-4-md {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4; }

  .grid--order-3-md {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3; }

  .grid--order-2-md {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }

  .grid--order-1-md {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }

  .grid--order-0-md {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0; } }
@media only screen and (min-width: 1200px) {
  .grid--order-12-lg {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12; }

  .grid--order-11-lg {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11; }

  .grid--order-10-lg {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10; }

  .grid--order-9-lg {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9; }

  .grid--order-8-lg {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8; }

  .grid--order-7-lg {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7; }

  .grid--order-6-lg {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6; }

  .grid--order-5-lg {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5; }

  .grid--order-4-lg {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4; }

  .grid--order-3-lg {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3; }

  .grid--order-2-lg {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }

  .grid--order-1-lg {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }

  .grid--order-0-lg {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0; } }
@media only screen and (min-width: 1600px) {
  .grid--order-12-xlg {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12; }

  .grid--order-11-xlg {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11; }

  .grid--order-10-xlg {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10; }

  .grid--order-9-xlg {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9; }

  .grid--order-8-xlg {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8; }

  .grid--order-7-xlg {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7; }

  .grid--order-6-xlg {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6; }

  .grid--order-5-xlg {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5; }

  .grid--order-4-xlg {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4; }

  .grid--order-3-xlg {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3; }

  .grid--order-2-xlg {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }

  .grid--order-1-xlg {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }

  .grid--order-0-xlg {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0; } }
.grid--bleed [class*="grid__col-"] {
  padding: 0; }

.grid--wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.grid--no-wrap {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.grid--wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse; }

.grid--direction-row {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row; }

.grid--direction-row-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.grid--direction-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.grid--direction-column-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.grid--align-start {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start; }

.grid--align-end {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end; }
  .grid--align-end [class*="grid__col-"] {
    vertical-align: bottom; }

.grid--align-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .grid--align-center [class*="grid__col-"] {
    vertical-align: middle; }

.grid--align-baseline {
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline; }
  .grid--align-baseline [class*="grid__col-"] {
    vertical-align: baseline; }

.grid--align-content-start {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start; }

.grid--align-content-end {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end; }
  .grid--align-content-end [class*="grid__col-"] {
    vertical-align: bottom; }

.grid--align-content-center {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center; }

.grid--align-content-space-between {
  -ms-flex-line-pack: space-between;
  -webkit-align-content: space-between;
  align-content: space-between; }

.grid--align-content-space-around {
  -ms-flex-line-pack: space-around;
  -webkit-align-content: space-around;
  align-content: space-around; }

.grid--align-self-stretch {
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  align-self: stretch; }

.grid--align-self-start {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start; }

.grid--align-self-end {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  vertical-align: bottom; }

.grid--align-self-center {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  vertical-align: middle; }

.grid--align-self-baseline {
  -ms-flex-item-align: baseline;
  -webkit-align-self: baseline;
  align-self: baseline;
  vertical-align: baseline; }

.grid--justify-start {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.grid--justify-end {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }
  .grid--justify-end .grid__cell,
  .grid--justify-end [class*="grid__col-"] {
    text-align: left;
    text-align: start;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    text-align-last: initial; }

.grid--justify-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }
  .grid--justify-center .grid__cell,
  .grid--justify-center [class*="grid__col-"] {
    text-align: left;
    text-align: start;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    text-align-last: initial; }

.grid--justify-space-between {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  .grid--justify-space-between .grid__cell,
  .grid--justify-space-between [class*="grid__col-"] {
    text-align: left;
    text-align: start;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    text-align-last: initial; }

.grid--justify-space-around {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around; }
  .grid--justify-space-around .grid__cell,
  .grid--justify-space-around [class*="grid__col-"] {
    text-align: left;
    text-align: start;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    text-align-last: initial; }

.grid__col--bleed {
  padding: 0; }

.grid__col--bleed-x {
  padding: 1em 0; }

.grid__col--bleed-y {
  padding: 0 1em; }

.grid__col--bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 50%; }

.grid__cell--padding-sm {
  padding: 0.5em; }

.grid__cell--padding-md {
  padding: 1em; }

.grid__cell--padding-lg {
  padding: 2em; }

.grid__cell-img {
  display: block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  width: 100%;
  height: auto; }

.grid__cell-footer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin-top: auto; }

@media (max-width: 479px) {
  .hidden-xxs {
    display: none !important; } }

@media (min-width: 480px) and (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

/* fonts */
@font-face {
  font-family: 'Mallory';
  src: url("/wp-content/themes/motherjones/font/Mallory-Light.woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Mallory';
  src: url("/wp-content/themes/motherjones/font/Mallory-Bold.woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Mallory';
  src: url("/wp-content/themes/motherjones/font/Mallory-LightItalic.woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Mallory';
  src: url("/wp-content/themes/motherjones/font/Mallory-BoldItalic.woff");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Calluna';
  src: url("/wp-content/themes/motherjones/font/Calluna-Regular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Calluna';
  src: url("/wp-content/themes/motherjones/font/Calluna-Black.otf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Calluna';
  src: url("/wp-content/themes/motherjones/font/Calluna-It.otf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Calluna';
  src: url("/wp-content/themes/motherjones/font/Calluna-BoldIt.otf");
  font-weight: bold;
  font-style: italic; }
body, caption, input, textarea, select, option, legend, fieldset {
  font-family: Calluna, Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
  font-size: 18px;
  line-height: 28px; }

h1,
h2 {
  font-family: Mallory, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

h3,
h4,
h5 {
  font-weight: normal;
  font-family: Mallory, sans-serif; }

h5 {
  text-transform: uppercase;
  font-size: 12px;
  background-position: 0% 100%; }

/* Begin navbar styling */
#navbar {
  position: fixed;
  width: 100%;
  background: white;
  color: black;
  top: -50px;
  left: 0px;
  transition: top 0.5s cubic-bezier(0.5, -0.5, 0.5, 1.5);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15), 0 -5px 3px -10px #fff;
  height: 45px;
  padding: 5px 0 0 0;
  /* must be taller so the bounce doesn't have empty space on top */
  z-index: 5999999;
  /* ffs */ }
  #navbar.lower {
    top: -5px; }
  #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  #navbar li {
    display: inline;
    float: left;
    overflow: hidden; }
  #navbar i {
    line-height: 40px; }
  #navbar a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    letter-spacing: -1px;
    font-size: 20px;
    font-family: Mallory, sans-serif;
    font-weight: bold;
    line-height: 40px;
    border: none;
    text-shadow: none; }
  #navbar .share-button {
    width: 40px;
    transition: width 0.5s cubic-bezier(0.5, -0.5, 0.5, 1.5); }
    #navbar .share-button.twitter i {
      color: #55ACEE; }
    #navbar .share-button.facebook i {
      color: #3A5795; }
    #navbar .share-button .share-text {
      display: none; }
  #navbar .nav-title {
    width: auto;
    max-width: 45%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Mallory, sans-serif;
    font-weight: bold;
    padding: 0 10px; }
  #navbar li.donate-link,
  #navbar li.subscribe-link {
    float: right;
    width: 95px; }
    #navbar li.donate-link a,
    #navbar li.subscribe-link a {
      color: #ccc;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: .5px; }
      #navbar li.donate-link a:hover,
      #navbar li.subscribe-link a:hover {
        color: #FF6900; }
  #navbar .menu-button {
    width: 45px;
    float: right;
    margin-top: 4px; }
  #navbar .logo {
    width: 175px; }
    #navbar .logo a {
      margin: 0;
      padding: 0;
      line-height: normal; }
    #navbar .logo img {
      max-width: 90%;
      max-height: 28px;
      margin: 5px 5px 0; }

/* end navbar styling */
/* menu styling */
#mj_menu_select {
  padding-left: 1px;
  max-height: 0px;
  overflow: hidden;
  clear: left;
  transition: max-height 0.5s cubic-bezier(0.5, -0.5, 0.5, 1.5);
  width: 200px;
  background: white;
  position: absolute;
  right: 0;
  top: 40px;
  box-shadow: -3px 5px 5px #ccc; }
  #mj_menu_select #mj_menu_options li {
    display: list-item;
    float: none; }
    #mj_menu_select #mj_menu_options li a {
      line-height: 30px;
      font-size: 16px; }

#navbar .menu-button.open svg rect {
  fill: #FF6900; }

#navbar .menu-button.open {
  box-shadow: -3px -4px 4px #ccc; }

#navbar #mj_menu_select.open {
  /*only when nav is lowed, please */
  max-height: 0px; }

#navbar.lower #mj_menu_select.open {
  /*only when nav is lowed, please */
  max-height: 600px; }

/* end menu styling */
/* static navbar styling */
#static-navbar ul {
  list-style-type: none;
  position: relative;
  padding: 0;
  border-bottom: 1px solid #CCC;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 21px; }
#static-navbar li {
  display: inline-block;
  padding: 0 45px 0 0; }
#static-navbar a {
  font-family: Mallory, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 10px;
  text-transform: uppercase;
  background-image: none;
  letter-spacing: 2.5px;
  padding-bottom: 3px;
  border-bottom: 3px solid white; }
  #static-navbar a:hover {
    border-bottom: 3px solid #FF6900; }
#static-navbar .menu-item-home {
  width: 100%;
  padding: 0 0 30px; }
  #static-navbar .menu-item-home a:hover {
    border-bottom: 3px solid white; }
  #static-navbar .menu-item-home img {
    width: 420px; }
#static-navbar .menu-item-magazine {
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 22px; }
#static-navbar .menu-item-subscribe,
#static-navbar .menu-item-donate {
  position: absolute;
  top: 7px;
  right: 0;
  padding: 0; }
  #static-navbar .menu-item-subscribe a,
  #static-navbar .menu-item-donate a {
    padding: 6px;
    color: #ccc;
    border: 1px solid #ccc;
    font-size: 16px;
    letter-spacing: 0px; }
    #static-navbar .menu-item-subscribe a:hover,
    #static-navbar .menu-item-donate a:hover {
      color: black !important;
      border-color: #FF6900; }
#static-navbar .menu-item-subscribe {
  right: 100px;
  margin-right: 10px; }
@media only screen and (max-width: 990px) {
  #static-navbar {
    display: none; } }

/* end static navbar styling */
/* footer */
footer#colophon {
  background-color: black;
  color: #ccc;
  text-align: center;
  padding-top: 32px; }
  footer#colophon ul {
    padding: 0;
    margin: 0 auto 15px;
    width: 165px;
    clear: both; }
    footer#colophon ul li {
      list-style: none;
      padding: 2px 0;
      font-size: 12px;
      background-position: 0% 100%; }
  footer#colophon #footer-list {
    font-family: Mallory, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;
    color: #FF6900; }
    footer#colophon #footer-list li {
      font-size: 15px; }
    footer#colophon #footer-list a {
      color: #FF6900;
      margin: 0 5px; }

a#footer-logo {
  background-image: none; }

#footer-logo img {
  width: 274px;
  height: auto;
  margin: 0 auto;
  display: block; }

#footer-social li {
  display: block;
  float: left; }
#footer-social .share-text {
  display: none; }
#footer-social .toolbar-btn {
  background-image: none;
  margin: 20px 5px; }
  #footer-social .toolbar-btn a {
    color: #CCC;
    text-decoration: none;
    height: 0px; }
  #footer-social .toolbar-btn i {
    position: relative; }
#footer-social .circled-icon {
  width: 40px; }
  #footer-social .circled-icon i {
    font-size: 26px;
    padding: 4px;
    position: relative;
    top: -3px;
    left: 0; }
  #footer-social .circled-icon.tweet i {
    top: -2px; }

#copyright {
  font-family: Calluna, serif;
  font-size: 14px;
  margin: 35px auto 0; }

footer#colophon #copyright a {
  color: #ccc;
  margin: 0 5px;
  text-shadow: -1px 0 0 black, 0 1px 0 black, 1px 0 0 black, 0 -1px 0 b -1px -1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black; }

/* end footer */
/* Readers Like You */
.members-like-you {
  font-style: italic;
  line-height: 17px;
  font-size: 14px;
  clear: both;
  padding-top: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  margin-top: 20px; }
  .members-like-you em {
    font-style: normal; }
  .members-like-you a {
    color: #FF6900; }
    .members-like-you a:hover {
      opacity: .7; }

/* Author Bios */
ul.author-bios {
  padding: 0;
  border-bottom: 1px solid #ccc; }

.author-data {
  float: left;
  max-width: 535px; }

.author-position {
  color: #ccc; }

.author-bio {
  clear: both;
  margin: 1em 0;
  overflow: auto;
  list-style-type: none; }
  .author-bio .byline {
    display: block;
    line-height: 14px; }
    .author-bio .byline a {
      display: inline-block;
      background-position: 0% 100%; }
  .author-bio .author-image {
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    overflow: hidden; }
    .author-bio .author-image img {
      max-width: 100%;
      max-height: 100%; }

.author-bio-text {
  font-size: 12px;
  margin-top: 5px;
  font-family: Mallory, sans-serif;
  text-align: left; }

/* social buttons */
.social-container a {
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  position: relative;
  border-bottom: none;
  text-shadow: 0 0;
  display: block;
  background-image: none;
  border: 1px solid #FF6900;
  border-radius: 40px;
  height: 30px;
  width: 30px;
  display: inline-block; }
.social-container i {
  display: block;
  font-size: 20px;
  line-height: 30px; }
  .social-container i:hover {
    color: #FF6900; }
.social-container.top, .social-container.blog {
  height: 17px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc; }
  .social-container.top ul, .social-container.blog ul {
    list-style-type: none;
    display: block;
    width: 196px;
    padding: 0 10px;
    background: white;
    margin: 0 auto 20px;
    height: 32px;
    float: none; }
    .social-container.top ul li, .social-container.blog ul li {
      display: inline-block;
      padding: 0 3px; }
    .social-container.top ul .share-text, .social-container.blog ul .share-text {
      display: none; }
.social-container.bottom {
  clear: both;
  padding: 0 0 30px;
  border-bottom: 1px solid #ccc;
  overflow: auto; }
  .social-container.bottom ul {
    padding-left: 0; }
  .social-container.bottom li {
    display: inline;
    float: right;
    overflow: hidden;
    width: 48%; }
    .social-container.bottom li:first-child {
      margin: 0;
      float: left; }
  .social-container.bottom i {
    display: inline;
    margin-right: 5px; }
  .social-container.bottom .share-text {
    vertical-align: top;
    font-size: 14px; }
  .social-container.bottom a {
    color: white;
    text-shadow: none;
    width: 100%;
    font-family: "lucida grande",Helvetica,Arial,sans-serif;
    height: 35px;
    padding-top: 2px; }
  .social-container.bottom .facebook a {
    background-color: #3A5795;
    border-color: #365391;
    border-radius: 3px;
    font-size: 16px; }
    .social-container.bottom .facebook a:hover {
      background-color: #304D8A; }
  .social-container.bottom .twitter a {
    background-color: #55ACEE;
    border-color: #578dc1;
    border-radius: 3px;
    font-size: 16px; }
    .social-container.bottom .twitter a:hover {
      background-color: #478db1; }
.social-container.blog {
  border-bottom: none; }
  .social-container.blog ul {
    margin-left: 0;
    padding-left: 0;
    width: auto; }
    .social-container.blog ul li:first-child {
      padding-left: 0; }
  .social-container.blog a {
    border: none; }

/* end social buttons */
/* homepage */
.home {
  text-align: center; }
  .home #masthead {
    text-align: left; }
  .home #main section {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em; }
  .home .promo {
    margin: 0 auto; }

.homepage-art-byline {
  font-family: Mallory, sans-serif;
  font-weight: bold;
  font-size: 12px;
  font-style: italic;
  color: #ccc;
  text-align: right;
  line-height: 4px; }

#homepage-top-story {
  padding-left: 0; }
  #homepage-top-story .article-data {
    position: absolute;
    bottom: 26px;
    width: 100%;
    text-align: center;
    background: linear-gradient(transparent, #000); }
    #homepage-top-story .article-data a {
      text-shadow: none;
      color: white; }
    #homepage-top-story .article-data .byline a {
      color: #FF6900; }
      #homepage-top-story .article-data .byline a:hover {
        color: white; }
  #homepage-top-story h1.hed {
    margin: 0.5em 1.5em;
    font-size: 30px;
    line-height: 35px;
    text-transform: none; }
  #homepage-top-story .dek {
    margin: 0 2em;
    font-family: Mallory, sans-serif;
    font-size: 16px;
    line-height: 18px; }
  #homepage-top-story img {
    width: 100%;
    height: auto; }

#homepage-top-story-side {
  padding: 1em 0 1em 2em; }
  #homepage-top-story-side li {
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 0.25em;
    background-image: url("/wp-content/themes/motherjones/img/grey_line.png");
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    font-size: 16px; }
    #homepage-top-story-side li:first-of-type {
      margin-top: 16px;
      padding-top: 0;
      background-image: none; }
    #homepage-top-story-side li h3 {
      line-height: 18px;
      margin-bottom: 0; }
    #homepage-top-story-side li .byline {
      margin-top: 0.5em; }
  @media only screen and (max-width: 768px) {
    #homepage-top-story-side {
      padding: 1em; } }

#homepage-more-top-stories-main .promo {
  margin-top: 0; }

#homepage-more-top-stories-main {
  padding-left: 0; }
  @media only screen and (max-width: 768px) {
    #homepage-more-top-stories-main {
      padding-left: 1em; } }

#homepage-more-top-stories {
  padding-left: 0; }
  #homepage-more-top-stories li {
    padding-top: 0.75em;
    margin-top: 0.75em;
    border-top: 1px solid #ccc;
    text-align: center; }
    #homepage-more-top-stories li:first-of-type {
      margin-top: 0;
      border-top: 0; }
    #homepage-more-top-stories li .hed {
      margin-bottom: 0;
      font-size: 18px; }
    #homepage-more-top-stories li .byline {
      margin-top: 0.5em; }

.homepage-fullwidth .section-label {
  display: inline-block;
  position: relative;
  top: -24px;
  padding: 0 20px;
  background-color: #fff;
  margin: 0 auto; }
.homepage-fullwidth .homepage-art-byline {
  position: relative;
  top: -44px; }
.homepage-fullwidth .article-data {
  position: relative;
  top: -32px; }
.homepage-fullwidth h1 {
  margin-top: 0; }
.homepage-fullwidth h4.dek {
  margin: 1em 0; }

#homepage-sections-list {
  list-style-type: none; }
  #homepage-sections-list .homepage-section .promo {
    margin-bottom: 1em;
    font-size: 15px;
    letter-spacing: 2px; }
  #homepage-sections-list .homepage-section li {
    margin-top: 0;
    padding-top: 1.25em;
    padding-bottom: 0.5em;
    background-image: url("/wp-content/themes/motherjones/img/grey_line.png");
    background-repeat: no-repeat;
    background-position: top;
    text-align: center; }
    #homepage-sections-list .homepage-section li:first-of-type {
      padding-top: 0;
      background-image: none; }
  #homepage-sections-list .homepage-section img {
    width: 100%;
    margin: 0; }
  #homepage-sections-list .homepage-section h3 {
    margin: 0 0 4px;
    font-size: 16px;
    line-height: 18px; }
  #homepage-sections-list .homepage-section .byline {
    font-size: 11px;
    line-height: 12px; }
  #homepage-sections-list .homepage-section:first-child {
    padding-left: 0; }
    @media only screen and (max-width: 768px) {
      #homepage-sections-list .homepage-section:first-child {
        padding: 1em; } }
  #homepage-sections-list .homepage-section:last-child {
    padding-right: 0; }
    @media only screen and (max-width: 768px) {
      #homepage-sections-list .homepage-section:last-child {
        padding: 1em; } }

.homepage-section-list {
  padding: 0; }

#homepage-kdrum .promo {
  margin-bottom: 1em; }

#homepage-kdrum-side {
  padding-left: 0; }
  @media only screen and (max-width: 768px) {
    #homepage-kdrum-side {
      padding: 1em; } }

#homepage-kdrum-ad {
  padding-right: 0; }

#kdrum-post-list {
  padding: 0; }
  #kdrum-post-list li {
    margin-top: 4px;
    padding-top: 30px;
    border-top: 1px solid #ccc; }
    #kdrum-post-list li:first-of-type {
      padding-top: 0;
      border-top: 0; }
  #kdrum-post-list .dateline {
    margin-top: 4px; }
  #kdrum-post-list .hed,
  #kdrum-post-list .article-data {
    text-align: center;
    margin: 0; }

#homepage-investigations {
  width: 100%;
  border-bottom: none !important; }
  #homepage-investigations .promo {
    margin-bottom: 1em; }

#homepage-investigations-list {
  margin: 0;
  padding: 0; }
  #homepage-investigations-list li {
    text-align: center; }
  #homepage-investigations-list img {
    width: 100%; }

/* full width */
.mj_article_type-full_width_article #page {
  width: 100%; }
.mj_article_type-full_width_article #TopROS970x250,
.mj_article_type-full_width_article #masthead,
.mj_article_type-full_width_article #main {
  width: 55em;
  margin: 0 auto; }
.mj_article_type-full_width_article article.full-width {
  margin-top: 2em; }

#full-width-header {
  width: 100%;
  position: relative;
  text-align: center; }
  #full-width-header .hed {
    max-width: 990px;
    text-transform: none;
    margin: auto; }
  #full-width-header .dek {
    max-width: 700px;
    margin: 28px auto 15px;
    font-size: 20px; }

#full-width-header-data {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  background: linear-gradient(transparent, #000); }
  #full-width-header-data h1,
  #full-width-header-data h3 {
    color: white; }
  #full-width-header-data h1 {
    line-height: 1.2em; }

.full-width-title-art-byline {
  text-align: right;
  color: #ccc;
  margin: 3px 40px 0 0;
  font-family: Mallory, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 12px; }

#fullwidth-body {
  background-image: url("/wp-content/themes/motherjones/img/border-$black25.png");
  background-repeat: repeat-y;
  background-position: 660px;
  margin-bottom: 45px; }

/* end full width */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  .ad-unit,
  #navbar,
  #static-navbar ul li,
  .social-container,
  .mj-related-articles,
  #prev-next,
  #footer-social,
  #footer-list,
  .DC-embed {
    display: none; }

  #static-navbar li.menu-item-home {
    display: block !important;
    margin: 0 auto;
    padding: 0;
    max-width: 300px; } }
body {
  padding-top: 0; }

#page {
  width: 55em;
  margin: 0 auto; }

.single section.grid__col-md-8,
.archive section.grid__col-md-8 {
  padding-left: 0; }
  @media only screen and (max-width: 768px) {
    .single section.grid__col-md-8,
    .archive section.grid__col-md-8 {
      padding-left: 1em; } }
.single #sidebar-right,
.archive #sidebar-right {
  padding-right: 0; }
  @media only screen and (max-width: 768px) {
    .single #sidebar-right,
    .archive #sidebar-right {
      padding-right: 1em; } }

::selection {
  background-color: #ddd; }

a {
  color: black;
  text-decoration: none;
  background-position: 0% 90%; }

img {
  max-width: 100%;
  height: auto; }

/* set orange underline */
footer#colophon #copyright a,
footer#colophon #footer-list a,
.entry-content a {
  background-image: url("/wp-content/themes/motherjones/img/orange-border.png");
  background-repeat: repeat-x;
  text-decoration: none;
  text-shadow: -1px 0 0 white, 0 1px 0 white, 1px 0 0 white, 0 -1px 0 white, -1px -1px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white; }
  footer#colophon #copyright a:hover,
  footer#colophon #footer-list a:hover,
  .entry-content a:hover {
    background-image: none;
    color: #FF6900;
    text-shadow: none; }

.single article .entry-footer a {
  background-image: none; }

footer#colophon #copyright a,
footer#colophon #footer-list a {
  text-shadow: -1px 0 0 black, 0 1px 0 black, 1px 0 0 black, 0 -1px 0 black, -1px -1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black; }

a::selection {
  text-shadow: none !important; }

.accent {
  color: #FF6900;
  font-family: Mallory, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

button.accent {
  background-color: #FF6900;
  color: white; }

.hide,
.hidden {
  display: none; }

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.page-header {
  text-align: center; }

.promo {
  font-size: 18px;
  display: inline-block;
  clear: both;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 0;
  border-bottom: 3px solid #FF6900;
  background: white; }

.entry-header {
  text-align: center;
  padding: 0; }
  @media only screen and (max-width: 768px) {
    .entry-header {
      padding: 1em; } }

.mj_article_type-blogpost .entry-header {
  text-align: left; }

h1.entry-title {
  font-size: 36px;
  line-height: 38px;
  margin-bottom: 0;
  color: black;
  text-decoration: none;
  letter-spacing: -1px;
  text-transform: none; }

.dek {
  font-family: Calluna, serif; }

blockquote {
  padding-left: 20px;
  margin-bottom: 2em; }

.pullquote-left,
.pullquote-right {
  position: relative;
  left: -55px;
  width: 45%;
  margin-bottom: 2em;
  margin-top: 1.5em;
  float: left;
  border-top: 0.5em solid black;
  font-size: 26px;
  letter-spacing: -1px;
  background: white;
  font-weight: bold;
  font-style: italic;
  font-family: Mallory, sans-serif; }
  @media only screen and (max-width: 768px) {
    .pullquote-left,
    .pullquote-right {
      left: 0;
      float: none;
      width: 100%;
      margin: 0;
      padding: 0; } }

.right-rail,
.inline-right {
  float: right;
  margin-left: 15px; }

.inline-left {
  float: left;
  margin-right: 15px; }

.inline-center {
  text-align: center;
  margin: 15px auto; }

.inline {
  width: auto !important;
  display: table;
  margin-bottom: 15px;
  background: white; }
  .inline > * {
    display: table-caption;
    caption-side: bottom; }
    .inline > *:first-child {
      display: table-row;
      max-width: 100%; }
  .inline img {
    max-width: 100%; }
  .inline .caption {
    padding-top: 10px;
    line-height: 17px;
    padding-bottom: 10px; }

.dateline {
  font-size: 14px;
  color: #ccc;
  padding-top: 0;
  letter-spacing: 2px;
  font-family: Mallory, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block; }

.byline {
  color: #FF6900;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-family: Mallory, sans-serif;
  font-weight: bold;
  border-bottom: none;
  letter-spacing: 2px; }
  .byline a {
    background-image: none;
    color: #FF6900; }
    .byline a:hover {
      color: black; }

.single .byline {
  font-size: 14px;
  line-height: 16px; }

/* start within article body */
#mininav {
  float: right;
  width: 220px;
  margin-left: 10px; }
  #mininav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border: 1px solid #ccc;
    border-bottom: 0; }
  #mininav li {
    padding: 3px 5px;
    border-bottom: 1px solid #ccc;
    line-height: normal; }
    #mininav li a {
      text-decoration: none;
      color: black;
      font-size: 12px;
      background-position: 0% 100%; }

.alignleft {
  float: left;
  margin: 1em 1em 1em 0; }

.alignright {
  float: right;
  margin: 1em 0 1em 1em; }

.aligncenter {
  float: none;
  margin: 1em auto; }

.wp-media-credit {
  margin: 0;
  text-align: right; }

.caption,
.caption a,
.photo-byline,
.photo-byline a,
.wp-media-credit {
  background: white;
  color: #FF6900;
  font-weight: normal;
  text-transform: none;
  font-family: Mallory, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  background-position: 0% 100%;
  letter-spacing: normal; }

.photo-byline {
  margin: 5px 0; }

.caption strong,
.master-image-caption,
.wp-caption-text {
  color: black;
  font-style: normal;
  text-transform: none;
  font-family: Calluna, serif;
  font-size: 14px;
  margin: 10px 0 0 0;
  line-height: 17px;
  font-weight: normal; }

.caption strong a,
.wp-caption-text a {
  color: black; }

#content-area .inline a {
  border-bottom: none; }
#content-area .caption a,
#content-area .master-image-caption a {
  display: inline; }

.article-master-image {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc; }
  .article-master-image .master-image-data {
    line-height: 20px;
    margin: 10px 0 0; }

.section-lead {
  font-size: 20px;
  font-family: Mallory, sans-serif;
  font-weight: bold; }
  .section-lead strong {
    font-weight: normal; }

/* fix interior links */
:target:before {
  content: "";
  display: block;
  height: 40px;
  /* fixed header height*/
  margin: -40px 0 0;
  /* negative fixed header height */ }

/* end fix interior links */
/* doccloud */
.documentcloud-resource-links li {
  display: inline;
  margin: 5px; }

/* end doccloud */
/* timelines */
.timeline dt {
  font-family: Calluna, serif;
  display: block;
  float: left;
  width: 100px;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-top: 18px;
  color: #ccc; }
.timeline dd {
  display: block;
  float: left;
  clear: right;
  margin: 0 0 40px 0;
  width: 490px; }
.timeline:after {
  content: '';
  display: block;
  clear: both; }

/* end timelines */
/* end within article body */
/* article list items */
.photoessay-top,
.mj-related-articles,
.main-index {
  text-align: center; }

.articles-list,
.related-articles-list {
  list-style-type: none;
  padding: 0; }

.articles-list .article-item {
  margin: 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #ccc; }

.photoessay-top {
  border-bottom: 1px solid #ccc; }

li.article-item {
  text-align: left;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-bottom: 10px;
  clear: both; }
  li.article-item .article-image {
    padding-left: 0; }
  li.article-item h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 0; }

#main li.photoessay-top a,
#main li.top-article-item a,
#main .article-item a,
#main li.article-item a {
  background-image: none; }

.top-article-item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px; }
  .top-article-item h3 {
    margin: 15px 0 4px; }
  .top-article-item p {
    margin: 0; }

/* end article list items */
h2.widget-title {
  display: none; }

/* sidebar items */
#sidebar-right .promo {
  margin-bottom: 15px; }
#sidebar-right .top-stories {
  text-align: center; }
  #sidebar-right .top-stories ul {
    padding: 0; }
  #sidebar-right .top-stories li {
    margin: 0 30px 15px;
    padding: 15px 0 0 0;
    border-top: 1px solid #ccc;
    text-align: center; }
    #sidebar-right .top-stories li:first-of-type {
      border-top: 0;
      padding-top: 0; }

/* end sidebar items */
/* begin responsive video styling */
.responsive_video_embed_container {
  height: 0;
  overflow: hidden;
  position: relative; }
  .responsive_video_embed_container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; }

/* end  responsive video styling */
/* start ads */
.ad-mobile {
  display: none; }

@media only screen and (max-width: 630px) {
  .ad_mobile {
    display: block; }

  .ad_desktop {
    display: none; } }
.advertisement {
  text-align: center; }
  .advertisement iframe {
    border-width: 0px;
    text-align: center; }

/* end ads */
/* begin pages */
.page article {
  width: auto; }
.page h1,
.page h3 {
  font-family: Mallory, sans-serif;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  clear: both;
  margin: 0 auto 10px;
  padding: 0;
  border-bottom: 3px solid #FF6900; }
.page h1 {
  text-transform: uppercase;
  letter-spacing: 3px; }
.page .entry-content {
  line-height: 28px;
  font-size: 18px; }

/* end pages */
/* Regular Pager */
#pager {
  margin: 15px 0;
  height: 34px; }
  #pager a {
    font-size: 28px;
    letter-spacing: 3px;
    font-family: Mallory, sans-serif;
    font-weight: bold;
    background-image: none; }

.pager_previous {
  float: left; }

.pager_next {
  float: right; }

/* Blog Pager */
ul#prev-next {
  list-style-type: none;
  padding: 0; }
  ul#prev-next li {
    font-family: Mallory, sans-serif;
    width: 50%;
    float: left;
    min-height: 40px;
    line-height: 16px; }
  ul#prev-next .next {
    text-align: right; }
  ul#prev-next .label {
    font-size: 12px;
    font-weight: bold;
    display: block;
    color: #FF6900;
    text-transform: uppercase;
    padding-bottom: 3px; }

#main ul#prev-next a {
  background-image: none;
  font-size: 14px;
  text-shadow: none; }

/* end pagers */
/* begin disqus */
#comments {
  padding: 15px 0;
  border: solid #ccc;
  border-width: 1px 0;
  margin: 15px 0; }
  #comments button#dcl_comment_btn {
    font-variant: small-caps;
    font-size: 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-family: Mallory,sans-serif;
    font-weight: bold;
    color: #ccc;
    text-decoration: none;
    margin: 0 !important;
    padding: 15px 0;
    width: 100%;
    background: none;
    border: none;
    text-transform: lowercase; }
    #comments button#dcl_comment_btn:hover {
      color: #ff6900; }
  #comments i {
    margin-right: 10px;
    position: relative;
    font-size: 23px;
    top: 1px; }

/* end disqus */
.edit-link a {
  color: red; }

/*# sourceMappingURL=style.css.map */
