/* full width */
@import "vendor/reflex/reflex/mixins";
@import "vendor/reflex/reflex/helpers";

.mj_content_type-full_width_article {
  #page {
    width: 100%;
    @media only screen and (max-width: $reflex-sm) {
      width: 95%;
      margin: 0 2.5%;
    }
  }
  #TopROS970x250,
  #masthead,
  #main {
    width: 55em;
    margin: 0 auto;
  }
  #ticker {
    margin-bottom: 0.5em;
  }
  article.full-width {
    margin-top: 2em;
  }
  .social-container.top {
    margin-bottom: 2em;
    a {
      background: none;
      text-shadow: none;
    }
  }
  .social-container.bottom {
	  margin: 0 1em;
  }
  .entry-footer {
    width: percentage( 8 / 12);
    @media only screen and (max-width: $reflex-sm) {
      width: 85%;
    }
  }
}
#full-width-header {
  width: 100%;
  position: relative;
  text-align: center;
  .entry-title {
    text-transform: none;
  }
  .dek {
    margin: 28px auto 15px;
    font-size: 20px;
  }
}

.full-width-title-art-byline {
  text-align: right;
  color: $neutral1;
  margin: 3px 40px 0 0;
  font-family: $mallory;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  width: 100%;
  height: 0;
}
#full-width-header-image img {
  min-width: 100%;
}

#fullwidth-body {
  background-image: url('../img/border-black25.png');
  background-repeat: repeat-y;
  background-position: 660px;
  margin: 0 1em 2em;
  .right-rail,
  .inline-right,
  .inline-left {
    width: 100% !important;
    display: block;
    margin: 15px auto;
    * {
      margin: auto;
      text-align: center;
    }
  }
  .pullquote-left,
  .pullquote-right {
    display: table-cell;
    width: 100%;
    p {
      width: 100%;
      margin-top: 0.75em;
      text-align: center;
      font-size: 28px;
      line-height: 1.3em;
    }
    @media only screen and (max-width: $reflex-sm) {
      display: block;
    }
  }
  img {
    max-width: 100%;
  }
  @media only screen and (max-width: $reflex-sm) {
    background: none;
    margin: 0 0 1em;
    width: 85%;
  }
}

@media (min-width: $reflex-sm) {
  #fullwidth-body {
    p {
      width: percentage( 8 / 12);
      @include setupAutoCols();
    }
    .right-rail,
    .inline-right {
      float: right;
      margin-left: 15px;
      text-align: left;
      @include setupAutoCols();
      width: 29%!important;
      * {
        text-align: left;
      }
    }
    .inline-left {
      width: auto!important;
      * {
        text-align: left;
      }
    }
  }
}

@media (min-width: $reflex-xs) {
  #full-width-overlay-data {
    position: absolute;
	padding-bottom: 17px;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(transparent,$black);
    h1,
    h3 {
      color: $white;
    }
	.dateline a {
		color: $neutral1;
	}
	a {
		&:hover { color: $orange; }
	}
	.byline-dateline span {
		margin: 0 7.5px;
	}
  }
}

  /* end full width */
