/* fonts */
@font-face {
  font-family: 'Mallory';
  src: url('../font/Mallory-Light.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mallory';
  src: url('../font/Mallory-Bold.woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Mallory';
  src: url('../font/Mallory-LightItalic.woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Mallory';
  src: url('../font/Mallory-BoldItalic.woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Calluna';
  src: url('../font/Calluna-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Calluna';
  src: url('../font/Calluna-Black.otf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Calluna';
  src: url('../font/Calluna-It.otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Calluna';
  src: url('../font/Calluna-BoldIt.otf');
  font-weight: bold;
  font-style: italic;
}
body, caption, input, textarea, select, option, legend, fieldset {
	font-family: Calluna, Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
	font-size: 18px;
	line-height: 28px;
}
h1,
h2 {
  font-family: $mallory;
  font-weight: bold;
  text-transform: uppercase;
}
h3,
h4,
h5 {
  font-weight: normal;
  font-family: $mallory;
}
h5 {
  text-transform: uppercase;
  font-size: 12px;
  background-position: 0% 100%;
}
