$red: #E12300;
$blue: #00B0EE;
$orange: #FF6900;
$white: white;
$black: black;
$neutral1: #ccc;
$neutral2: #999;
$neutral3: #333;

$twitter: #55ACEE;
$facebook: #3A5795;

$mallory: Mallory, sans-serif;
$calluna: Calluna, serif;

// load the grid variables so we can use them in the main css
@import 'vendor/reflex/reflex/_variables.scss';
